<!doctype html>
<html>

<head>
	<title>Login - Covid App Login</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	<style>
		body {
			font-family: 'Roboto', sans-serif;
		}
	</style>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>



<body>

	<div id="particles-js"></div>

	<div class="form_container">
		<div class="left pane">
			<img src="{{ url_for('static', filename='images/left2.jpg') }}" alt="form">
			<div class="text">
				<h1>Covid <br>Screening <br>System</h1>
			</div>
		</div>

		<div class="right pane">
			<form method="POST">
				<h2>Login</h2>

				<div class="form-row">
					<label for="username">Username:</label>
					<input type="text" name="username" id="username" value="{{request.form.username }}" required>
				</div>

				<div class="form-row">
					<label for="password">Password:</label>
					<input type="password" name="password" id="password" value="{{request.form.password }}" required>
				</div>

				<div class="form-row">
					<input type="submit" name="login" class="login" value="Login">
				</div>

			</form>
		</div>

		<div>
			<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"
				type="text/javascript"></script>
			<script>
				particlesJS("particles-js", { "particles": { "number": { "value": 160, "density": { "enable": true, "value_area": 800 } }, "color": { "value": "#ffffff" }, "shape": { "type": "circle", "stroke": { "width": 0, "color": "#000000" }, "polygon": { "nb_sides": 5 }, "image": { "src": "img/github.svg", "width": 100, "height": 100 } }, "opacity": { "value": 1, "random": true, "anim": { "enable": true, "speed": 1, "opacity_min": 0, "sync": false } }, "size": { "value": 3, "random": true, "anim": { "enable": false, "speed": 4, "size_min": 0.3, "sync": false } }, "line_linked": { "enable": false, "distance": 150, "color": "#ffffff", "opacity": 0.4, "width": 1 }, "move": { "enable": true, "speed": 1, "direction": "none", "random": true, "straight": false, "out_mode": "out", "bounce": false, "attract": { "enable": false, "rotateX": 600, "rotateY": 600 } } }, "interactivity": { "detect_on": "canvas", "events": { "onhover": { "enable": true, "mode": "bubble" }, "onclick": { "enable": true, "mode": "repulse" }, "resize": true }, "modes": { "grab": { "distance": 400, "line_linked": { "opacity": 1 } }, "bubble": { "distance": 250, "size": 0, "duration": 2, "opacity": 0, "speed": 3 }, "repulse": { "distance": 400, "duration": 0.4 }, "push": { "particles_nb": 4 }, "remove": { "particles_nb": 2 } } }, "retina_detect": true });
			</script>
			{% if error %}
			<script> swal("Error", "{{ error }}", "error"); </script>
			{% endif %}
</body>

</html>