<!doctype html>
<html>

<head>
   <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
   <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/croppie.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/predict.css') }}">
</head>

<body>
   <div id="particles-js"></div>
   <hr>
   <button id="btn-logout" class="blue_button" style="position: fixed; top: 20px; right: 10px ;"
      onclick="location='./.'" type="button">Logout</button>
   <center>
      <div class="container">
         <h2 class="heading">X-Ray Image based COVID-19 Screening System</h2>
         <br><br>
         <form method="POST" id="upload-file" method="post" enctype="multipart/form-data">
            <img id="sample_sidebar" src="{{ url_for('static', filename='images/sidebar1.jpg') }}">
            <div class="image-section" id="image-section" style="display:none;">
               <div>
                  <p>Selected</p>
                  <div>
                     <img id="image1" src="">
                  </div>
               </div>
            </div>
            <div class="block" style="text-align: left;">
               <label for="imageUpload">Select X-Ray Image of Chest : </label>
               <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg"
                  style="margin-left: 26px; transform: scale(1.2);">

               <br><br>
               <label for="patient_id">Enter Confidential Patient ID : </label>
               <input id="patient_id" class="patient_id" type="text">
               <br><br>

            </div>

            <div class="graph-section" id="graph-section">
               <div style="padding-top:10px">
                  <p><u style="font-size: 150%;color: #c3292e;"><b>Prediction Probability</b></u></p>
               </div>
               <table id="percent_data" style="background: #fff;">
               </table>
            </div>

            <div id="result" class="result" style="font-size: 150%;"></div>

            <div id="btn_container"
               style="float: left;width: 700px;justify-content: space-around;display: flex;align-items: left;text-align: left;padding: 30px 170px;">
               <button id="btn-predict" class="blue_button" type="button">Upload and Test</button>
               <button id="btn-progress" class="blue_button" type="button" onclick="location='./progress'">Check
                  Progression</button>
               <button id="btn-reload" class="blue_button" style="display:none" onclick="location.reload();"
                  type="button">Test for another
                  Patient/Image</button>
            </div><br>
            <div>
               <br>
               <img class="loader" src="{{ url_for('static', filename='images/loader.gif') }}">
               <br>
            </div>
         </form>
         <div
            style="position: fixed; word-spacing: 2px; font-weight: bold; font-size: 120%; text-align: left; margin-top: 16%;">
            <u>Bone Supressed: </u>Minimizing visibilty of collar bone and ribcage.
            <br><u>Segmented Image: </u>Extracting lungs from the complete x-ray image.
            <br><u>Gradcam: </u>Highlighting regions with most prominent features for prediction.<br><br><br>
            <b><u>Disclaimer:</u></b> This system works on Artificial Intelligence Technique developed on High End
            Computing
            Machines.<br>Final diagnostic decision must be taken by medical expert.
         </div>
      </div>
   </center>
   <div id="overlay"></div>
   <div id="ImageCropContainer">
      <img id="original_image">
      <div id="image_demo"></div>
      <button class="btn btn-success crop_image">Crop & Upload Image</button>
      <button class="btn btn-success close_crop_model">Close</button>
   </div>
   <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
   <script>
      particlesJS("particles-js", { "particles": { "number": { "value": 160, "density": { "enable": true, "value_area": 800 } }, "color": { "value": "#ffffff" }, "shape": { "type": "circle", "stroke": { "width": 0, "color": "#000000" }, "polygon": { "nb_sides": 5 }, "image": { "src": "img/github.svg", "width": 100, "height": 100 } }, "opacity": { "value": 1, "random": true, "anim": { "enable": true, "speed": 1, "opacity_min": 0, "sync": false } }, "size": { "value": 3, "random": true, "anim": { "enable": false, "speed": 4, "size_min": 0.3, "sync": false } }, "line_linked": { "enable": false, "distance": 150, "color": "#ffffff", "opacity": 0.4, "width": 1 }, "move": { "enable": true, "speed": 1, "direction": "none", "random": true, "straight": false, "out_mode": "out", "bounce": false, "attract": { "enable": false, "rotateX": 600, "rotateY": 600 } } }, "interactivity": { "detect_on": "canvas", "events": { "onhover": { "enable": true, "mode": "bubble" }, "onclick": { "enable": true, "mode": "repulse" }, "resize": true }, "modes": { "grab": { "distance": 400, "line_linked": { "opacity": 1 } }, "bubble": { "distance": 250, "size": 0, "duration": 2, "opacity": 0, "speed": 3 }, "repulse": { "distance": 400, "duration": 0.4 }, "push": { "particles_nb": 4 }, "remove": { "particles_nb": 2 } } }, "retina_detect": true });
   </script>
   <script src="{{ url_for('static', filename='js/croppie.js') }}" type="text/javascript"></script>
   <script src="{{ url_for('static', filename='js/prediction.js') }}" type="text/javascript"></script>
</body>

</html>