<html>

<head>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/progress.css') }}">
</head>

<body>

    <div id="particles-js"></div>
    <hr>
    <button id="btn-logout" class="btn_blue" style="position: fixed; top: 20px; right: 10px ;" onclick="location='./.'"
        type="button">Logout</button>
    <center>
        <div class="container">
            <h2 class="heading">X-Ray Image based COVID-19 Screening Software</h2><br><br>
            <form method="POST" id="upload-file" method="post" enctype="multipart/form-data">



                <div style='display:flex; justify-content: space-evenly; align-items: center;'>
                    <img src="" class="imgpreview" id="imgpreview1">
                    <img src="" class="imgpreview" id="imgpreview2">
                </div>
                <br><br>
                <div class="block">
                    <div class="block" style="">
                        <br><br>
                        <label>Select X-Ray of First Image : </label>
                        <input type="file" name="file1" id="imageUpload1"
                            style=" margin-left: 52px; transform: scale(1.2);" accept=".png, .jpg, .jpeg">
                        <br>
                        <br>
                        <label>Select X-Ray of Second Image :</label>
                        <input type="file" name="file2" id="imageUpload2"
                            style=" margin-left: 52px; transform: scale(1.2);" accept=".png, .jpg, .jpeg">
                        <br><br><label for="patient_id">Enter Confidential Patient ID:</label>
                        <input id="patient_id" class="patient_id" type="text"
                            style="border-color: black !important; margin-left: 26px;">
                    </div>
                </div>
                <br><br>

                <div id="result" class="result"></div>
                <br>
                <div style="
    width: 550px;
    justify-content: space-around;
    display: flex;
    align-items: left;
    text-align: left;
    padding: 30px 170px;
">
                    <button id="btn-predict" class="btn_blue" type="button">Upload and Compare Images</button>
                    <button id="btn-progress" class=" btn_blue" type="button" onclick="location='./.'">Check
                        Prediction</button>
                    <button id="btn-reload" class="btn_blue" style="display:none" onclick="location.reload();"
                        type="button">Test for another Patient/Image</button>
                </div>
                <div>

                    <br>
                    <img class="loader" src="./static/images/loader.gif">
                    <br>
                </div>
                <br>
            </form>

            <div style="font-weight: bold;text-align: left;margin-top:10%;font-size: 120%;">
                <br><br><br>
                <b><u>Disclaimer:</u></b> This system works on techniques of Artificial Intelligence developed on
                high end
                computing
                machines.<br>Final diagnostic decision must be taken by the medical expert.
            </div>
        </div>
    </center>
    <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script>
        particlesJS("particles-js", { "particles": { "number": { "value": 160, "density": { "enable": true, "value_area": 800 } }, "color": { "value": "#ffffff" }, "shape": { "type": "circle", "stroke": { "width": 0, "color": "#000000" }, "polygon": { "nb_sides": 5 }, "image": { "src": "img/github.svg", "width": 100, "height": 100 } }, "opacity": { "value": 1, "random": true, "anim": { "enable": true, "speed": 1, "opacity_min": 0, "sync": false } }, "size": { "value": 3, "random": true, "anim": { "enable": false, "speed": 4, "size_min": 0.3, "sync": false } }, "line_linked": { "enable": false, "distance": 150, "color": "#ffffff", "opacity": 0.4, "width": 1 }, "move": { "enable": true, "speed": 1, "direction": "none", "random": true, "straight": false, "out_mode": "out", "bounce": false, "attract": { "enable": false, "rotateX": 600, "rotateY": 600 } } }, "interactivity": { "detect_on": "canvas", "events": { "onhover": { "enable": true, "mode": "bubble" }, "onclick": { "enable": true, "mode": "repulse" }, "resize": true }, "modes": { "grab": { "distance": 400, "line_linked": { "opacity": 1 } }, "bubble": { "distance": 250, "size": 0, "duration": 2, "opacity": 0, "speed": 3 }, "repulse": { "distance": 400, "duration": 0.4 }, "push": { "particles_nb": 4 }, "remove": { "particles_nb": 2 } } }, "retina_detect": true });
    </script>
    <script src="{{ url_for('static', filename='js/progression.js') }}" type="text/javascript"></script>
</body>

</html>