body,
html {
    height: 100%
}

body{
	background: #000;
	margin:0;
}


#particles-js canvas {
    display: block;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
	background-color: #001c7d;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0
}

.pane{
	position: relative;
}

.pane > .text{
	left:50%;
	top:50%;
	color:#fff;
    text-shadow: 2px 2px 2px #000000;
	transform: translate(-50%,-50%);
	position:absolute;
	font-weight: 700;
	font-size:30px;
}


.right {
	padding: 20px 40px 20px 40px;
    position: relative;
    width: 100%;
}

.form_container{
	position: fixed;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
	background: #fff;
    display: flex;
}

.form_row {
    width: 100%;
    position: relative;
}

label {
    float: left;
    font-weight: 400;
    font-size: 16px;
    color: #666;
    display: block;
    margin-bottom: 11px;
}

input {
    width: 91%;
	margin-bottom: 27px;
    padding: 14.5px 15px;
    border: 1px solid #a5a1a1;
    border-radius: 5px;
    appearance: unset;
    outline: none;
    font-size: 16px;
    color: #333;
}

input:focus {
    border: 1px solid #00bcd4;
}

.login{
    background: #3b63ca;
    border-radius: 6px;
    width: 160px;
    border: none;
    margin: 6px 0 50px 0px;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
	padding: 15.5px;
}

.login:hover {
    background: #000;
}


@media only screen and (max-width: 800px) {
	.left{ display:none; }
  }
