@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
	font-family: 'Roboto', sans-serif;
}

#original_image{
	width:100%;
	height: 0px;
}

#particles-js canvas {
    display: block;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
	background-color: #eae6e6;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0
}

#result {
	display: block !important;
	padding: 10px;
}

.result_ok {
	border-top: 10px solid green;
}

.result_covid {
	border-top: 10px solid red;
}

.result_v_pneumonia {
	border-top: 10px solid purple;
}

.result_b_pneumonia {
	border-top: 10px solid yellow;
}

hr {
	border-top: 1px solid red;
}

.heading {
	color: #c3292e;
}



button:hover,
.menubutton:hover {
	color: #fff;
	background-color: #000;
	border-color: #000;
}

.container {
	width: 80%
}

label {
    margin-right: 30px;
    display: inline-block;
    width: 400px;
    font-size: 150%;
    text-align: right;
    font-weight: bold;
}

​ .loader {
	display: none;
}

.image-section,
.graph-section {
	display: flex;
	justify-content: center;
	align-items: center;
}

div#image-section>div>div>img {
	border: 5px solid #105286;
	max-width: 200px;
}

div#graph-section>div>img {
	max-width: 700px;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

div#image-section>div>p {
	color: #c3292e;
	font-weight:bold;
	font-size: 135%;
}

div#graph-section>div>p {
	color: #c3292e;
}

#graph-section {
	margin-bottom: 20px;
	flex-direction: column;
}

#percent_data>tbody>tr {
	text-align: center;
}

#image1 {
	width: 200px;
	height: 200px;
}

#percent_data{
	padding: 10px 10px;
    width: 65%;
    padding-top: 10px;
	border: 5px #000 solid;
	font-size: 150%;
    text-transform: capitalize;
	font-weight: bold;
}

td {
	text-transform: capitalize;
}

#overlay {
	display:none; 
	z-index:100; 
	position:fixed; 
	top:0; 
	left:0; 
	right:0;
	bottom:0; 
	background: rgba(0,0,0,0.3);
}

#image_demo {
	width:350px; 
	margin-top:30px;
}

#ImageCropContainer {
	z-index:200; 
	background: #fff; 
	box-sizing:border-box; 
	padding:35px; 
	display: none; 
	position:fixed; 
	top:50%; 
	left:50%; 
	transform:translate(-50%,-50%);
}

#sample_sidebar{
	position: fixed; 
	top: 50%; 
	right: 0px; 
	width: 27%; 
	transform: translateY(-50%);
}

.patient_id{
	border-color: black !important;
}

#graph-section{
	display:none;
}

.blue_button{
	align-items: center;
    height: 46px;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #fff;
    border-radius: 0.7rem;
    background-color: #105286;
    border-color: #6571cb;
    border-style: none;
    cursor: pointer;
    font-size: 140%;
}

.no_float{
	float: default !important;
}

@media only screen and (max-width: 800px) {
	#sample_sidebar{ display:none; }
  }