@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
	font-family: 'Roboto', sans-serif;
}

#original_image{
	width:100%;
	height: 0px;
}

#particles-js canvas {
    display: block;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
	background-color: #e6e6e6;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0
}


#result {display:block !important;}

.result_ok { border-top: 10px solid green; }

.result_covid { border-top: 10px solid red; }

.result_pneumonia { border-top: 10px solid yellow; }

.img-preview {
    width: 256px;
    height: 256px;
    position: relative;
    border: 5px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    margin-top: 1em;
    margin-bottom: 1em;   
    display: flex; 
}

.img-preview>div {
    width: 100%;
    height: 100%;
    background-size: 256px 256px;
    background-repeat: no-repeat;
    background-position: center;
}

hr{
border-top: 1px solid red;
}

.heading{
color:#c3292e;

}


button:hover {
	color: #fff;
    background-color: #01a0c0;
    border-color: #01a0c0;
}

.container{
    width:80%
}    
    
label {
      display: inline-block;
      width: 300px;
      font-size:120%;
      text-align: right;
}​
    
.loader{
        display: none;
}
    
.imgpreview{
    max-width: 250px;
}

.btn_blue { align-items: center;
    height: 46px;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #fff;
    border-radius: 0.7rem;
    background-color: #105286;
    border-color: #6571cb;
    border-style: none;
    cursor: pointer;
    font-size: 140%; }

label {
    display: inline-block;
    width: 400px;
    font-size: 150%;
    font-weight: bold;
    text-align: right;
    }

.result{
    font-weight: bold;
    font-size: 140%;
}